.solvings {
  &_mobile {
    // background-color: yellow;
    overflow: visible;
    padding-bottom: 80px;
    display: none;
    @include respond(tab-port) {
      display: block;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 6rem;
    row-gap: 10rem;
    margin-top: 100px;

    @include respond(tab-land) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &_desktop {
      //   background-color: red;
      @include respond(tab-port) {
        display: none;
      }
    }

    &_mobile {
      //   background-color: green;
      display: flex;

      gap: 0;
    }
  }

  &__card {
    // background-color: red;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    // padding: 10px 0 40px 0;

    &_left {
      // background-color: green;
      border-radius: 30px;
      border: 1px solid rgba(206, 206, 206, 0.7);
      padding: 20px;
      width: 20rem;
      height: 250px;
    }

    &__img {
      // background-color: blue;
      img {
        padding: 0;
        transition: all 0.3s;
        transform: translate(-15px, -50px);
        box-shadow: 15px 50px 50px rgba(206, 206, 206, 0.7);
        border-radius: 15px;
      }
    }

    &__text {
      // background-color: yellow;
      top: 55%;
      left: 18%;
      // transform: translate(30px, -50px);
      font-size: 16px;
      position: absolute;
      max-width: 90%;
      text-align: left;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      background-color: transparent;
      backdrop-filter: blur(5px);
      // box-shadow: 0 40px 40px 20px red;
      box-shadow: 0 40px 40px 20px $color-white;
    }

    &:hover &__img img {
      box-shadow: 15px 50px 50px #00a2ff69;
    }
  }
}
